@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter';
    overflow: hidden;
}

section{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(240, 240, 240);
}

.ticket-form-container{
    width: 400px;
    margin: 0 auto;
}

.title{
    margin-right: 100px;
    font-weight: 800;
    margin-bottom: 60px;
}
.content{
    border-radius: 10px;
}

.btn-css-modify{
    width: 100%;
    background-color: #343CFF;
    padding: 10px 0;
    margin-top: 60px;
    border: none;
    color: white;
    border-radius: 10px;
}

.bg-blue{
    background-color: #343CFF;
    color: white;
}

.font-weight-800{
    font-weight: 800;
}

.font-weight-500{
    font-weight: 500;
}

.separator{
    display: flex;
    align-items: center;
  }
  
  .separator i{
    padding: 0 0rem; /* creates the space */
  }
  
  .separator .line{
    flex: 1;
  }

  .line:nth-child(1){
    border: 1px solid #343CFF;
  }

  .line:nth-last-child(1){
    border: 1px dashed black;
  }


