@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter';
    overflow: hidden;
}

/* La sezione mette gli elementi al centro */
section{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(240, 240, 240);
}

/* Contenitore centrato del biglietto e della form*/
.ticket-form-container{
    width: 400px;
    margin: 0 auto;
}

/* Stilizzazione testo per i titoli */
.title{
    margin-right: 100px;
    font-weight: 800;
    margin-bottom: 60px;
}

/* Contenuto */
.content{
    border-radius: 10px;
}

/* Stilizzazione dei bottoni */
.btn-css-modify{
    width: 100%;
    background-color: #343CFF;
    padding: 10px 0;
    border: none;
    color: white;
    border-radius: 10px;
}

/* Sfondo blu */
.bg-blue{
    background-color: #343CFF;
    color: white;

}

/* Font massima weight */
.font-weight-800{
    font-weight: 800;
}

/* Font weight media */
.font-weight-500{
    font-weight: 500;
}

/* Separatore per la rappresentazione del viaggio */
.separator{
    display: flex;
    align-items: center;
  }
  
  /* Padding tra le linee */
  .separator i{
    padding: 0 0rem;
  }
  
  .separator .line{
    flex: 1;
  }

  /* Stile delle line della rappresentazione */
  .line:nth-child(1){
    border: 1px solid #343CFF;
  }

  .line:nth-last-child(1){
    border: 1px dashed black;
  }


